.likedPageContainer {

  .ant-input-affix-wrapper {
    border-radius: 8px;
  }

  .ant-table-pagination.ant-pagination {
    justify-content: center;
  }

  .ant-table-empty {
    .ant-table-tbody {
      display: flex;
    }
  }

  .ant-table-tbody {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    text-align: center;

    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

}
